/*html {
    position: relative;
    min-height: 100%;
}*/
.content{
  margin-top: 220px;
}

.jumbotron{
background-color: transparent !important;
border-bottom: 2px solid black;
}

.padding{
  padding: 80px;
}

body {
  font: 13px Helvetica, Arial;
 }

#title{
  font-size: 50px;
}

#container{
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  /*padding-top: 60px;*/
}

.container{
  padding-top: 50px;
}

#playerView{
 margin-top: 50px;
}

/*#header {
  border-color: 1px solid white;
}*/

#activeBlackCard {
  height: 224px;
  width: 160px;
  padding: 10px;
  font-weight: bold;
  background-color: black;
  color: white;
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 20px grey;
  padding: 20px;
  font-weight: bold;
  font-size: 14px;
}

#czarChoiceView {
  height: 224px;
  width: 160px;
  padding: 10px;
  font-weight: bold;
  background-color: black;
  color: white;
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 20px grey;
  padding: 20px;
  font-weight: bold;
  font-size: 14px;
}

.czarChoice {
  height: 146px;
  width: 320px;
  margin-bottom: 5px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px grey;
  /*margin-top: auto;*/
  font-size: 28px;
}

.card {
  height: 224px;
  width: 160px;
  padding: 20px;
  font-weight: bold;
  background-color: white;
  margin: -5px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 0 0 20px grey;
  margin-top: auto;
}

.card:hover{
  transform: translate(0, -5px);
}

.selectedCard {
  background-color: #90DB86;
  transform: translate(0, -5px);

}

input {
  height: 50px;
  width: 75%;
  border: 1px solid grey;
}

/*.btn{
  width: 75%;
  align: center;
  margin-top: 10px;
  background-color: pink;
  font-weight: bold;
  border: 1px solid black !important;
}*/

/*button {*/
  /*margin-left: 30px;
  padding: 10px;*/
  /*height: 200px;
  font-size: 20px;
  width: 100%;
  background-color: white;
  font-weight: bold;
  border: 1px solid black;
}*/
/*
button:hover{
  margin-left: 30px;
  padding: 10px;
  width: 160px;
  background-color: black;
  font-weight: bold;
  color: white;
  border: 1px solid white;
}

button:active{
  margin-left: 50px;
  padding: 10px;
  width: 160px;
  background-color: black;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  transform: translate(0, 5px);

}*/


.btn-lg {
  width: 75%;
  margin-top: 5px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: black !important;
  color: white !important;
  border-color: black;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid black;
    color: black;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: black;
    border-color: black;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: black;
    color: black;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
#header_container { background:black; color: white; height:150px; left:0; position:fixed; width:100%; top:0; }
#header{ line-height:60px; margin:0 auto; padding-left: 40px;}

#footer_container { background:black; border:1px solid #666; bottom:0; height:60px; left:0; position:fixed; width:100%; }
#footer { line-height:60px; margin:0 auto; width:940px; text-align:center; }

#sticky_button {bottom:0; left:0; position:fixed; width:100%; background: white; border-radius: none;}

#playerWaitingMessage {
  margin-top: 30px;
}
