<!--
//*********************//
//    HOME TEMPLATE    //    || This is the view when someone first comes to the site.
//*********************//
-->
<div ng-hide="hc.isStarted || hc.playerJoining || hc.playerGameTemplate || hc.hostGameTemplate || hc.gameOver">
  <div id="header_container">
      <div id="header">
        <h1>Cards<br>Against<br>Humanity</h1>
      </div>
  </div>
  <div id="gameInit" class = "row text-center content">
    <div class="col-xs-0 col-md-2"></div>
    <div class = "col-xs-12 col-md-4">
      <button ng-click="hc.onCreateClick()" class="btn btn-primary btn-lg outline" type="button" name="button">Create a New Game</button>
    </div>
    <div class="col-xs-0 col-md-2"></div>
    <div class="col-xs-0 col-md-2"></div>
    <div class = "col-xs-12 col-md-4">
      <button ng-click="hc.playerJoinView()" class="btn btn-primary btn-lg outline" type="button" name="button">Join a Game</button>
    </div>
    <div class="col-xs-0 col-md-2"></div>
  </div>

  <div id="footer_container">
    <div id="footer">
    </div>
</div>
</div>

<!--
//***************************//
//   PLAYER JOIN TEMPLATE    //    || This is the view when someone clicks Join a Game
//***************************//
-->
<div ng-show ="hc.playerJoining && !hc.gameOver">
  <div id="header_container">
      <div id="header">
        <h1>Cards<br>Against<br>Humanity</h1>
      </div>
  </div>
  <div class ="form-group content text-center row">
    <div class = "col-xs-0 col-md-3"></div>
    <div class = "col-xs-12 col-md-6">
    <input ng-model="hc.playerName" type="text" name="" placeholder="Player Name" value=""/>
    <input ng-model="hc.gameId" type="text" name="" placeholder="Game ID" value=""/><br>
    <button ng-click="hc.onPlayerStartClick()" class="btn btn-primary btn-lg outline" type="button" name="button">Join!</button>
    <div id="playerWaitingMessage"></div>
  </div>
  <div class = "col-xs-0 col-md-3"></div>

  </div>
  <!-- This is where I'll alert the player that they are waiting for more people before they can start the game -->
  <div id="footer_container">
    <div id="footer">
    </div>
</div>
</div>
<!--
//*****************************//
//   PLAYER IN GAME TEMPLATE   //    || This is the player view when game starts.
//*****************************//
-->
<div ng-show="hc.playerGameTemplate && !hc.gameOver" class="card_content">
  <div class = "playerView">
    <div ng-show="!hc.playerIsCzar" class = "nonCzar">
      <div id="header_container_card">
          <div id="header">
            <!-- {{hc.currentBlackCard.text}} -->
            <h4>{{hc.playerObject.playersObject.playerName}} - Pick the card you'd like to send to the Czar.</h4>
          </div>
      </div>
            <div class="card" ng-repeat="card in hc.playerObject.playersObject.cardsInHand" ng-class="{'card':true,'selectedCard' : card.selected}" ng-click="hc.selectCard(card, hc.playerObject.playersObject.cardsInHand, hc.playerObject.playersObject.playerName, hc.playerObject.playersObject)">
        {{card.text}}
      </div>
      <button ng-hide="hc.playerDone" ng-click="hc.sendCardsToCzar(hc.playerObject.playersObject.cardsInHand, hc.playerObject.playersObject)" class="btn btn-primary btn-lg outline sticky_button" type="button" name="button">Send Card</button>
      <button ng-show="hc.playerDone" class="btn btn-primary btn-lg outline sticky_button" type="button" name="button">Waiting on Other Players</button>
    </div>
    <div ng-show="hc.playerIsCzar && !hc.gameOver" class = "czar">
      <div id="header_container_card">
          <div id="header">
            <h4>{{hc.playerObject.playersObject.playerName}} - You Are the Czar! Select a Winner.</h4>
          </div>
      </div>
      <div class="card" ng-repeat="card in hc.cardsToJudge" ng-class="{'card':true,'selectedCard' : card.selected}" ng-click="hc.selectCardCzar(card, hc.cardsToJudge)">
        {{card.text}}
      </div>
      <button ng-click="hc.selectRoundWinner(hc.cardsToJudge)" class="btn btn-primary btn-lg outline sticky_button" type="button" name="button">Declare Winner</button>
    </div>
  </div>
</div>

</div>

<!--
//*******************************//
//   GAME INITIALIZE TEMPLATE    //    || This is view when Create Game is clicked.
//*******************************//
-->
<div ng-show="hc.isStarted && !hc.gameTemplate && !hc.gameOver" class="content contained">
  <div id="header_container">
      <div id="header">
        <h1>Cards<br>Against<br>Humanity</h1>
      </div>
  </div>
  <div class="col-xs-0 col-md-2"></div>
  <div class = "col-xs-12 col-md-8">
  <h2>Open this site on your mobile device {{hc.link}}</h2>
  <h2>Here is your game ID: {{hc.gameId}}</h2>
  <div id="playersWaiting"></div>

</div>
<div class="col-xs-0 col-md-2"></div>
  <!-- Below is where I'll show who has joined the room -->
  <!-- Consider using angular to ng-repeat through players in room. Currently using Jquery  -->
  <div id="footer_container">
    <div id="footer">
    </div>
</div>
</div>

<!--
//*******************************//
//   GAME INITIALIZE TEMPLATE    //    || This is view when Create Game is clicked.
//*******************************//
-->
<div ng-show="hc.gameOver" class="content contained">
  <div id="header_container">
      <div id="header">
        <h1>Cards<br>Against<br>Humanity</h1>
      </div>
  </div>
  <div class="col-xs-0 col-md-2"></div>
  <div class = "col-xs-12 col-md-8">
  <h1>GAME OVER</h1>
  <h3>{{hc.playerName}} is the winner!</h3>
  <div id="playersWaiting"></div>

</div>
<div class="col-xs-0 col-md-2"></div>
  <!-- Below is where I'll show who has joined the room -->
  <!-- Consider using angular to ng-repeat through players in room. Currently using Jquery  -->
  <div id="footer_container">
    <div id="footer">
    </div>
</div>
</div>

<!--
//***************************//
//   HOST IN GAME TEMPLATE   //    || This is the host view when game starts.
//***************************//
-->


<!-- Player Scores - Needs to Change into an NG-REPEAT-->
<div ng-show="hc.hostGameTemplate && !hc.gameOver" class = "content row">
  <div id="header_container">
      <div id="header">
        <h1>Cards<br>Against<br>Humanity</h1>
      </div>
  </div>
  <div id = "playerScores" ng-repeat="player in hc.players">
    <div class = "col-xs-3 row">
      <div class = "col-xs-6 col-md-3">
        <img class = "img-responsive" src="../images/126486.png" alt="">
      </div>
      <div class = "col-xs-6 col-md-9">
        <h4>{{player.playerName}}</h4>
        <h5>{{player.playerScore}}</h5>
      </div>
    </div>
  </div>
  <br>
  <div class ="row">
    <div id = "activeBlackCard" ng-hide="hc.gameSetup.isOver" ng-model="hc.currentBlackCard.text" class ="col-md-12">
      {{hc.currentBlackCard.text}}
      <!-- <p>Here is where the black card text will go when I get the database up and running.</p> -->
    </div>
  </div>
  <div id="footer_container">
    <div id="footer">
    </div>
</div>
</div>
